@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

$magenta_vdark: hsl(300, 43%, 22%);
$soft_pink: hsl(333, 80%, 67%);
$magenta_dark: hsl(303, 10%, 53%);
$magenta_light: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);